@charset "UTF-8";

*{
	margin:0;

}

h1{
	font-family: cursive;

}

table.about{
	margin-left:auto;
	margin-right:0;
	border-spacing:70px 0px;

}

table.shohin{
	margin-left:auto;
	margin-right:0;
	border-spacing:70px 70px;
}

div.side_bar{
	clear:right;
}

table.link{
	margin-left:auto;
	margin-right:auto;
	border-spacing:100px 0px;
}


